<!DOCTYPE html><html>
    <head>
        <title>The Blog Site</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js integrity=sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM crossorigin=anonymous></script>
<link rel=stylesheet href=https://use.fontawesome.com/releases/v5.11.2/css/all.css>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="grey lighten-3">
  
    <nav class="z-depth-0 grey lighten-4">
        <div class="nav-wrapper container">
          
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class="logged-in">
                <a href="/" class="grey-text " >Blogs</a>
              </li>
              
              <li class="logged-in">
                <a href="/newblog" class="grey-text " >New Blog</a>
              </li>
              
            </span>
          </ul>
        </div>
      </nav>
	

	<div class="container"   data-aos="fade-up" data-aos-anchor-placement="top-bottom">
		
        
            

        <div class="row" style="margin-top:50px;">
            <div class="col-md-8" style="width: 80%;height:200px;padding: 20px 40px;border-radius: 10px;box-shadow: 2px 5px 9px #008989;background-color: #b3d0ff;">
                <h1><%= blog.title %></h1>
            
           
                <p ><%= blog.description %></p>
                <div style="justify-content: space-between;">
                    <span style="float: left;"><h4><%= blog.mhead %></h4></span>
                    <span style="float: right;"><h4><%= blog.subhead %></h4></span>
                </div>

            </div>


        </div>
       


           
		</div>
		
	</body>
		
	
		
		
	
	
